<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SPCA"
        tools:targetApi="31">
        <activity
            android:name=".customer.CheckOutActivity"
            android:exported="false" />
        <activity
            android:name=".customer.AddToBasketActivity"
            android:exported="false" />
        <activity
            android:name=".AdminBasket"
            android:exported="false" />
        <activity
            android:name=".SearchActivityCustomer"
            android:exported="false" />
        <activity
            android:name=".customer.AdditionalDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.CustomerDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.PurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".admin.EditStockActivity"
            android:exported="false" />
        <activity
            android:name=".StockListActivity"
            android:exported="false" />
        <activity
            android:name=".admin.UpdateStockActivity"
            android:exported="false" />
        <activity
            android:name=".admin.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ViewStockActivity"
            android:exported="false" />
        <activity
            android:name=".admin.CreateStockActivity"
            android:exported="false" />
        <activity
            android:name=".customer.ViewBasketActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
                android:name=".customer.ThankYouActivity"
            android:exported="false" />
        <activity
            android:name=".customer.UserActivity"
            android:exported="false" />
        <activity
            android:name=".customer.CustomerViewStockActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".IndexPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>